# Database Credentials
DB_USER=a
DB_PASSWORD=password
DB_NAME=projet_web
DB_HOST=db
POSTGRES_USER=a
POSTGRES_PASSWORD=password
POSTGRES_DB=projet_web
JWT_SECRET=cle_secrete_tres_longue
REFRESH_SECRET=une_autre_cle_secrete
PEPPER=poivre
ADMIN_USERNAME=admin